.box{
    width: 100px;
    height: 100px;
}
.box1{
    background-color: blanchedalmond;
}

.box2{
    background-color: yellowgreen;
}

.box3{
    background-color: burlywood;
}

.box4{
    background-color: palevioletred;
}